<html>

<body>

<nav class="navbar navbar-light" style="background-color: #ffc0cb;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Dessert Catalog</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="{{url_for('showCatalog')}}">Home</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if 'username' not in session %}
            <li><a href="{{url_for('showLogin')}}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            {% else %}
            <li><a href="{{url_for('logout')}}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            {% endif %}
        </ul>
    </div>
</nav>

<h1>Are you sure you want to delete {{item.name}}?</h1>

<form action="{{url_for('deleteItem', item_name = item.name)}}" method='POST'>

<input type='submit' value='Delete'>

</form>

<a href="{{url_for('showCatalog')}}">Cancel</a>

</body>

</html>
