<html>

<body>

<nav class="navbar navbar-light" style="background-color: #ffc0cb;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Dessert Catalog</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="{{url_for('showCatalog')}}">Home</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if 'username' not in session %}
            <li><a href="{{url_for('showLogin')}}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            {% else %}
            <li><a href="{{url_for('logout')}}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            {% endif %}
        </ul>
    </div>
</nav>

<h1>Edit Dessert Item</h1>

<form action="{{url_for('editItem', item_name = item.name)}}" method='POST'>

<dl>
<dt>Dessert:</dt>
<dd><input type='text' size='30' name='dessert' placeholder='{{item.name}}'></dd>
<dt>Description:</dt>
<dd><textarea name='description' rows='5' cols='40' placeholder='{{item.description}}'></textarea></dd>
<dt>Category:</dt>
<dd><select name='category'>
    {% for c in categories %}
    <option value={{c.name}}>{{c.name}}</option>
    {% endfor %}
</select></dd>
</dl>


<input type='submit' value='Edit'>

<a href="{{url_for('showCatalog')}}">Cancel</a>

</form>

</body>

</html>
