<html>

<body>

<h1>New Dessert Item</h1>

<form action="{{url_for('newItem')}}" method = 'POST'>

<dl>
<dt>Dessert:</dt>
<dd><input type='text' size='30' name='dessert' required></dd>
<dt>Description:</dt>
<dd><textarea name='description' rows='5' cols='40' required></textarea></dd>
<dt>Category:</dt>
<dd><select name='category'>
    {% for c in categories %}
    <option value={{c.name}}>{{c.name}}</option>
    {% endfor %}
</select></dd>
</dl>


<input type='submit' value='Create'>

</form>

</body>

</html>
